aiodns
aiohttp
aiosignal
asgiref
async-timeout
attrs
Babel
bcc
bcrypt
blinker
Brlapi
Brotli
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
cryptography
cupshelpers
dbus-python
defer
distlib
distro
distro-info
filelock
Flask
frozenlist
greenlet
gyp
h11
httplib2
idna
importlib-metadata
itsdangerous
jaraco.classes
jeepney
Jinja2
jsonpatch
jsonpointer
jsonschema
jupyter_core
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
markdown-it-py
MarkupSafe
mdurl
more-itertools
msgpack
multidict
mutagen
netaddr
netifaces
oauthlib
olefile
packaging
pexpect
pillow
pipenv
platformdirs
proton-core
proton-keyring-linux
proton-vpn-api-core
proton-vpn-gtk-app
proton-vpn-network-manager
ptyprocess
pyasyncore
pycairo
pycares
pycryptodomex
pycups
Pygments
PyGObject
pyinotify
PyJWT
PyNaCl
pynvim
pyOpenSSL
pyparsing
PyQt6
PyQt6-sip
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
python-gnupg
pytz
pyxdg
PyYAML
requests
rich
SecretStorage
sentry-sdk
setuptools
simplejson
six
systemd-python
traitlets
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
uvicorn
uvloop
virtualenv
wadllib
websockets
Werkzeug
wheel
wsproto
xdg
xkit
yarl
yt-dlp
zipp
